[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
	whitespace = cr-at-eol
[alias]
	last = log -2
	st = status
	ci = commit
	co = checkout
	br = branch
	di = diff
	unstage = "reset HEAD --"
	discard = "checkout --"
	sdi = diff --staged
[user]
	email = jostein.zheng@gmail.com
	name = Jostein Zheng
