[user]
	name = Jostein Zheng
	email = zhengzj@missfresh.cn
[color]
	ui = auto
[core]
	quotepath = false
	editor = vim
	whitespace = cr-at-eol
[merge]
	tool = vimdiff
[alias]
	fpush = push --force
	unstage = reset HEAD --
	discard = checkout --
	drop = "!f(){ git unstage \"$@\" && git discard \"$@\"; }; f"
	last = log -2
	st = status
	ll = log --oneline -10
	di = diff
	ci = commit
	br = branch
	co = "!f(){ git checkout \"$@\" && git submodule update --init --recursive; }; f"
	sdi = diff --staged
	del = "!f(){ git branch -D \"$@\" && git push --delete origin \"$@\"; }; f"
	rdel = "!f(){ git push --delete origin \"$@\"; }; f"
[review "URL"]
	autoupload = true
[push]
	default = simple
[credential]
	helper = cache --timeout=36000
[gui]
    encoding = utf-8
[i18n]
    commitencoding = utf-8
[svn]
    pathnameencoding = utf-8
